<div>
    <h1>Yago BarberShop</h1>

    <h5>Subir Producto nuevo</h5>
    <form action="/api/products" method="post" enctype="multipart/form-data">
      <label for="title">Titulo</label>
      <input type="text" name="title" id="title" required />
      <br>
      <label for="description">Descripcion</label>
      <input type="text" name="description" id="description" required />
      <br>
      <label for="code">Codigo</label>
      <input type="text" name="code" id="code" required />
      <br>
      <label for="price">Precio</label>
      <input type="number" name="price" id="price" required />
      <br>
      <label for="stock">Stock</label>
      <input type="number" name="stock" id="stock" required />
      <br>
      <label for="thumbnails">Imagen Del Producto</label>
      <input type="file" id="thumbnails" name="thumbnails" accept="file/*" multiple/>
      <br>
      <button type="submit">Submit!</button>
      <button type="reset">Reset</button>
    </form>


    <h3>Crear Carro</h3>
    <form action="/api/carts" method="post" enctype="multipart/form-data">
      <button type="submit">Crear!</button>
    </form>
    <img src="./logo.png" alt="" style="width: 400px" />
  </body>
</div>

  <br /><hr /><br /><br /><hr />
  

  <h1>Socket & Handlebars</h1>
  <h2>Check our products:</h2>
  <div id="productsList"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>